:root{
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan1: hsl(186, 14%, 43%);
    --dark-grayish-cyan2: hsl(184, 14%, 56%);
    --light-grayish-cyan1: hsl(185, 41%, 84%);
    --light-grayish-cyan2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

.body{
    font-family: 'Space Mono', monospace;
    background-color: var(--light-grayish-cyan1);
}
/*HEADER*/
 .header{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.logo{
    margin: 3rem;
}
/*MAIN*/
.calculator{
    border-radius: 20px;
    background-color: var(--White);
    padding: 20px;
}

.bill-span, .select-span, .number-people{
    font-weight: 700;
    color: var(--dark-grayish-cyan1);
}

.img-input-div {
    background-color: var(--light-grayish-cyan2);
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.input{
    border: none;
    background-color: var(--light-grayish-cyan2);
    width: 90%;
    height: 40px;
    text-align: right;
}

.tip{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 30px;
}

.tipBtn{
    margin-top: 10px;
    height: 50px;
    width: 150px;
    background-color: var(--very-dark-cyan);
    color: var(--White);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    border-radius: 5px;
    border: 1px solid var(--very-dark-cyan);
}

.input-custom{
    text-align: right;
    margin-top: 10px;
    height: 50px;
    width: 145px;
    background-color: var(--light-grayish-cyan2);
    color: var(--very-dark-cyan);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    border-radius: 5px;
    border: 1px solid var(--light-grayish-cyan2);
}

.calculator ::placeholder {
    color: var(--very-dark-cyan);
    font-size: 20px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;;
}

.tip ::placeholder {
    color: var(--dark-grayish-cyan1);
}

/*preview part*/
.preview{
    border-radius: 12px;
    padding: 20px;
    background-color: var(--very-dark-cyan);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.tip-person, .total-person {
    display: flex;
    flex-direction: column;
}

.tip-amount, .total-bill{
    color: var(--White);
    margin-bottom: 10px;
    font-weight: 600;
}

.person{
    grid-column-start: 1;
    color: var(--dark-grayish-cyan1);
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
}

.tip-dollar{
    font-size: 30px;
    color: var(--strong-cyan);
}

.i-prevw{
    color: var(--strong-cyan);
}

.reset-btn{
    color: var(--White);
    background-color: var(--strong-cyan);
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid var(--strong-cyan);
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    color: var(--very-dark-cyan);
}

.footer{
    margin-top: 10px;
}

@media all and (min-width: 1024px){
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .calculator{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 700px;
        height: 400px;
    }

    .img-input-div{
        margin-right: 7px;
    }

    .tipBtn{
        width: 95px;
    }

    .input-custom{
        width: 90px;
    }

    .preview{
        grid-template-rows: repeat(3, 1fr);
        height: 335xpx;
        width: 330px;
        padding-top: 40px;
    }

    .tip{
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;
    }

    .footer{
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}